
       <!--&lt;!&ndash;<div class="contentWrapper admin-list" ng-show ='dashboard'>&ndash;&gt;-->
         <!--<div class="contentWrapper admin-list">-->

            <!--<div class="rightCol result-pg">-->
                <!--<div >-->
                    <!--<h1 class="">आर्थिक लाभ कमवा !!</h1>-->
                <!--</div>-->

                <!--<p> खालील लिंक व्हाट्स अँप किंवा फेसबुक वर शेअर करा. या लिंकद्वारे आपले परिचित लग्नाचीबोलणीचे सभासद होऊ शकतात. आपल्या सभासदाने केलेल्या <a href="partner_earnings.php">आर्थिक व्यवहारातील काही भाग</a> तुमच्या अकाऊंटमध्ये जमा केला जाईल. </p>-->


                <!--<div class="control-group clearfix">-->
                    <!--<label class="control-label">लिंक - <input type = "text" value ="<?php echo $p_url; ?>" readonly size="<?php echo $p_url_len; ?>"/></label>-->
                    <!--<p>वरील लिंक कॉपी करून व्हाट्सअँप वर शेअर करा, तुम्ही हि लिंक ग्रुप्स मध्ये हि टाकू शकता.</p>-->
                    <!--<p>किंवा</p>-->
                    <!--<p>खालील आयकॉन वर क्लिक करूनही आपण लिंक शेअर करू शकाल.  </p>-->
                <!--</div>-->
                <!--&lt;!&ndash; AddToAny BEGIN &ndash;&gt;-->
                <!--<div class="a2a_kit a2a_kit_size_32 a2a_default_style">-->
<!--&lt;!&ndash;                <a class="a2a_dd" href="https://www.addtoany.com/share?linkurl=https%3A%2F%2Flagnachibolni.com%3Fpid%3D<?php echo $partner_name; ?>&amp;linkname="></a>&ndash;&gt;-->
                    <!--<a class="a2a_button_facebook"></a>-->
                    <!--<a class="a2a_button_twitter"></a>-->
                    <!--<a class="a2a_button_google_plus"></a>-->
                    <!--<a class="a2a_button_whatsapp"></a>-->
                <!--</div>-->
                <!--&lt;!&ndash;<script>&ndash;&gt;-->
                    <!--&lt;!&ndash;var a2a_config = a2a_config || {};&ndash;&gt;-->
                    <!--&lt;!&ndash;a2a_config.linkurl = "<?php echo $p_url; ?>";&ndash;&gt;-->
                <!--&lt;!&ndash;</script>&ndash;&gt;-->
                <!--<script async src="https://static.addtoany.com/menu/page.js"></script>-->

                <!--<div class="heading">-->
                    <!--<h1 class="page-title partner-h1">Your Statistics</h1>-->
                <!--</div>-->
                <!--<div class="profile-complete clearfix col-lg-12">-->
                    <!--<div class="partner_data pull-left">-->
                        <!--<h1 align="center"><?php echo $count; ?></h1>-->
                        <!--<h4 align="center">तुमच्या लिंकद्वारे झालेल्या नोंदणी.</h4>-->

                    <!--</div>-->
                    <!--<div class="partner_data pull-left">-->
                        <!--<h1 align="center"><?php echo $payments_count; ?></h1>-->
                        <!--<h4 align="center">आपल्या सभासदांनी केलेले आर्थिक व्यवहार</h4>-->

                    <!--</div>-->
                    <!--<div class="partner_data pull-left">-->
                        <!--<h1 align="center">Rs <?php echo $commition; ?></h1>-->
                        <!--<h4 align="center">तुमचा आर्थिक लाभ</h4>-->

                    <!--</div>-->

                <!--</div>-->

                <!--<div>-->

                <!--</div>-->



            <!--</div>-->

        <!--</div>-->



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <div class="container-fluid">
    <div class="refer-friend-wrapper">
        <div>
            <h1 translate>आर्थिक लाभ कमवा !! </h1>
            <hr/>
            <!--<h5 translate>You can earn money on each payment they make. Please <a-->
                    <!--href="/contactUs" translate> Contact Us</a> for more info.</h5>-->
            <p> खालील लिंक व्हाट्स अँप किंवा फेसबुक वर शेअर करा. या लिंकद्वारे आपले परिचित लग्नाचीबोलणीचे सभासद होऊ शकतात. आपल्या सभासदाने केलेल्या <a href="#">आर्थिक व्यवहारातील काही भाग</a> तुमच्या अकाऊंटमध्ये जमा केला जाईल. </p>
        </div>
        <div>
          <label class="control-label">लिंक - <input type = "text" ng-model="vm.partnerLink" readonly size="<?php echo $p_url_len; ?>"/></label>
          <!--value ="vm.partnerLink"-->
          <p>वरील लिंक कॉपी करून व्हाट्सअँप वर शेअर करा, तुम्ही हि लिंक ग्रुप्स मध्ये हि टाकू शकता.</p>
          <p>किंवा</p>
          <p>खालील आयकॉन वर क्लिक करूनही आपण लिंक शेअर करू शकाल.  </p>
        </div>
        <!--<div class="a2a_kit a2a_kit_size_32 a2a_default_style">-->
          <!--<a class="a2a_dd" href="https://www.addtoany.com/share?linkurl=https%3A%2F%2Flagnachibolni.com%3Fpid%3D<?php echo $partner_name; ?>&amp;linkname="></a>-->
          <!--<a class="a2a_button_facebook"></a>-->
          <!--<a class="a2a_button_twitter"></a>-->
          <!--<a class="a2a_button_google_plus"></a>-->
          <!--<a class="a2a_button_whatsapp"></a>-->
        <!--</div>-->


                    <div class="login-with-wrap">
                        <div class="contactUs-social">
                            <a href="#" class=""><i class="icon-facebook2"></i></a>
                            <a href="#" class=""><i class="icon-google-plus2"></i></a>
                            <a href="#" class=""><i class="fa fa-twitter-square"></i></a>
                            <a href="#" class=""><i class="icon-whatsApp"></i></a>
                        </div>
                    </div>

                <div class="heading">
                    <h1 class="page-title partner-h1">Your Statistics</h1>
                </div>

                <div class="profile-complete clearfix col-lg-12">
                    <div style="width: 30%; float:left; margin: 1%;">
                        <!--<h1 align="center"><?php echo $count; ?></h1>-->
                        <h1 align="center">0</h1>
                        <h4 align="center">तुमच्या लिंकद्वारे झालेल्या नोंदणी.</h4>
                        <!--<h4 align="center">नोंदणी.</h4>-->
                    </div>

                    <div style="width: 30%; float:left; margin: 1%;">
                        <!--<h1 align="center"><?php echo $payments_count; ?></h1>-->
                        <h1 align="center">0</h1>
                        <h4 align="center"> आपल्या सभासदांनी केलेले आर्थिक व्यवहार</h4>
                        <!--<h4 align="center"> आर्थिक व्यवहार</h4>-->

                    </div>

                    <div style="width: 30%; float:left; margin: 1%;">
                        <!--<h1 align="center">Rs <?php echo $commition; ?></h1>-->
                        <h1 align="center">Rs 0</h1>
                        <h4 align="center">तुमचा आर्थिक लाभ</h4>

                    </div>

                </div>
        <!-- code for ng repeat of references -->
        <!--<div align="right">-->
            <!--<button class="btn btn-primary" align="center"-->
                    <!--ng-if="vm.hideReferForm" ng-click="vm.showForm()" translate>Add more references-->
            <!--</button>-->
        <!--</div>-->
        <!--<div class="form-horizontal" ng-show="!vm.hideForm">-->
            <!--<div class="row">-->
                <!--<div class="col-sm-4"></div>-->
                <!--<div class="col-sm-4" translate><b>Reference Name</b></div>-->
                <!--<div class="col-sm-4" translate><b>Reference Mobile</b></div>-->
            <!--</div>-->
            <!--<hr>-->
            <!--<div class="row"-->
                 <!--ng-if="vm.refResponseObject.already_referred.length>0">-->
                <!--<div class="col-sm-4" translate><b>Already Referred</b></div>-->
                <!--<div class="col-sm-8">-->
                    <!--<div ng-repeat="refered in vm.refResponseObject.already_referred">-->
                        <!--<div class="col-sm-6">{{refered.reference_name}}</div>-->
                        <!--<div class="col-sm-6">{{refered.reference_mobile}}</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-12">-->
                    <!--<hr>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row"-->
                 <!--ng-if="vm.refResponseObject.already_registered.length>0">-->
                <!--<div class="col-sm-4" translate><b>Already Registered</b></div>-->
                <!--<div class="col-sm-8">-->
                    <!--<div ng-repeat="registered in vm.refResponseObject.already_registered">-->
                        <!--<div class="col-sm-6">{{registered.reference_name}}-->
                        <!--</div>-->
                        <!--<div class="col-sm-6">{{registered.reference_mobile}}-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-12">-->
                    <!--<hr>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row" ng-if="vm.refResponseObject.notified.length>0">-->
                <!--<div class="col-sm-4" translate><b>Notified</b></div>-->
                <!--<div class="col-sm-8">-->
                    <!--<div ng-repeat="notified in vm.refResponseObject.notified">-->
                        <!--<div class="col-sm-6">{{notified.reference_name}}</div>-->
                        <!--<div class="col-sm-6">{{notified.reference_mobile}}-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-12">-->
                    <!--<hr>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row"-->
                 <!--ng-if="vm.refResponseObject.failed_to_notify.length>0">-->
                <!--<div class="col-sm-4" translate><b >Notified</b></div>-->
                <!--<div class="col-sm-8">-->
                    <!--<div ng-repeat="failed in vm.refResponseObject.failed_to_notify">-->
                        <!--<div class="col-sm-6">{{failed.reference_name}}</div>-->
                        <!--<div class="col-sm-6">{{failed.reference_mobile}}</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-12">-->
                    <!--<hr>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--end of code for ng-repeat references -->
    </div>
</div>
