<header id="header" headroom class="header-inner">
    <div class="container">
        <md-button class="nav-toggle" ng-click="openLeftMenu()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </md-button>
        <div class="logo-header">
            <a href="#"><img src="images/logo-header.png" height="155" width="267" alt="LagnachiBolni"></a>
        </div>
        <div>
            <a class="pull-right link-login">Login</a>
        </div>
    </div>
</header>
