<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <title>LagnachiBolni.com</title>
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css?v=1.0">
</head>

<body ng-app="lbApp" ng-cloak ng-controller="lbCtrl">
    <div id="wrapper" class="inner-wrapper">
        <div ng-include src="'partials/header.html'"></div>

        <main id="main">

            <div class="closed-sidenav visible-md visible-lg" ng-hide="isSidenavOpen">
                <ul class="nav-links">
                    <li><a><i class="icon-email"></i></a></li>
                    <li><a><i class="icon-box-remove"></i></a></li>
                    <li><a><i class="icon-dashboard"></i></a></li>
                    <li><a><i class="icon-search"></i></a></li>
                    <li><a><i class="icon-human-resource"></i></a></li>
                    <li><a><i class="icon-phone2"></i></a></li>
                    <li class="active"><a><i class="icon-profile2"></i></a></li>
                    <li><a><i class="icon-settings"></i></a></li>
                    <li><a><i class="icon-logout"></i></a></li>
                </ul>
            </div>

            <md-sidenav md-component-id="left" md-disable-backdrop md-is-open="isSidenavOpen" class="sidenav md-sidenav-left">
                <div class="sidenav-header">
                    <span class="nav-close" ng-click="openLeftMenu()"><i class="icon-arrow-left1"></i></span>
                    <div class="logo-header">
                        <a href="#"><img src="images/logo-header.png" height="155" width="267" alt="LagnachiBolni"></a>
                    </div>
                </div>
                <ul class="nav-links">
                    <li><a href="#"><i class="icon-email"></i> Inbox</a></li>
                    <li><a href="#"><i class="icon-box-remove"></i> Outbox</a></li>
                    <li><a href="#"><i class="icon-dashboard"></i> Dashboard</a></li>
                    <li><a href="#"><i class="icon-search"></i> Search</a></li>
                    <li><a href="#"><i class="icon-human-resource"></i> Refer Friends</a></li>
                    <li><a href="#"><i class="icon-phone2"></i> Contact Us</a></li>
                    <li class="active"><a href="#"><i class="icon-profile2"></i> My Profile</a></li>
                    <li><a href="#"><i class="icon-settings"></i> Account Settings</a></li>
                    <li><a href="#"><i class="icon-logout"></i> Logout</a></li>
                </ul>
            </md-sidenav>

            <div class="container-fluid terms-container" ng-click="closeLeftMenuMobile()">
                <div>
                    <div class="row terms-header-row">
                        <div class="col-sm-12">
                            <div class="terms-header">
                                <h1>Terms And Conditions</h1>
                            </div>
                        </div>
                    </div>

                    <div class="row terms-content">
                        <b>Dear User</b>
                        <br />
                        <p>
                            Welcome to LagnachiBolni (herein referred as "LB"). LB and its affiliates provide their services to you subject to the following terms and conditions. On your visit or signing up at LB, you consciously accept the terms and conditions as set out hereinbelow.
                            In addition, when you use or visit any current or future LB service or any business affiliated with LB, whether or not included in the LB Web site, you will also be subject to the guidelines and conditions applicable to such
                            service or business. Please read the various services provided by LB. The Users availing services from LB shall be deemed to have read, understood and expressly accepted and agreed to the terms and conditions hereof and this
                            agreement shall govern the relationship between you and LB and all transactions or services by, with or in connection with LB for all purposes, and shall be unconditionally binding between the parties without any reservation.
                            The terms and conditions may be changed and/or altered by LB from time to time at its sole discretion.
                        </p>

                        <ol type="1">
                            <li><b>Eligibility:</b> LB shall act on the basis of the information that may be submitted by you, believing the same to be true and accurate. LB is under no obligation to verify the accuracy or genuineness of the information submitted
                                by you.</li>
                            <ol type="a">
                                <li>The minimum age for registering in LB is 18 years for women and 21 years for men.</li>
                                <li>The maximum age limit is 50 years.</li>
                            </ol>
                            <li>
                                <b>Privacy Policy:</b> LB is an advertising platform providing targeted advertising services for matrimonial alliance. In order to do provide the services, we ask for certain personal information which is displayed on the
                                site.

                                <br><b>Information users submit MEMBERS:</b> This includes two types of information Public and Private. Public information as personal information that may be displayed on the site at the behest of the member, such as gender,
                                age, height, photograph, etc. Private information is defined as any information that allows others to contact a user other than through LB

                                <br><b>Information not directly submitted AGGREGATE:</b> This is information we collect that is not personally identifiable, such as browser type and IP address. This information is gathered for all users to the site. Information
                                Usage by LB:
                                <br>Public: Public information supplied by members is an advertisement intended to be viewed by visitors to the site. This information is used by visitors for searching and matching purposes. Public information cannot be
                                used to identify a specific member by address.
                                <br>Private: Only when you approve the request from another member, or member is paid service user i.e. Contact Credits Service, then private information can be seen by member.
                                <br><b>Information not directly submitted:</b> We use your server IP address, and browser-type related information in the general administration of our website. With whom does LB share the information it collects/tracks?
                                Except where you are expressly informed on the site or as described in this privacy policy we do not sell, rent, share, trade or give away any of your personal information. However, we reserve the right to disclose your
                                personally identifiable information as required by law and when we believe that disclosure is necessary to protect our rights and/or comply with a judicial proceeding, court order, or legal process served on our Web site.</li>
                            <b></b>
                            <li><b>Email Policy:</b> We use email extensively to help you find your match on LB. Our main email products and services include:

                                <ol type="a">
                                    <li>Member responses to your profile</li>
                                    <li>Partner matches for you</li>
                                    <li>Newsletters updating you of the latest features on our site.
                                    </li>
                                </ol>
                                You hereby expressly solicit and invite LB and/or its authorized personnel to communicate to you through email. You agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement
                                that such communications be in writing.</li>
                            <li><b>Telecom Policy:</b> We use SMS extensively to help you find your match on LB. Our main SMS products and services include:
                                <ol type="a">
                                    <li>Member responses to your profile</li>
                                    <li>Partner matches for you</li>
                                    <li>Inform visit to your profile by other members.</li>
                                </ol>
                                You are agree to below Telecom policy:
                                <ol type="a">
                                    <li>You hereby expressly solicit and invite LB and/or its authorized personnel to communicate to you through any telecom resources in the registered number provided You also unconditionally agree to indemnify LB against
                                        all losses, damages, penalties, costs or consequences whether direct or indirect, that may arise out of any breach or violation of the aforesaid representation, commitment and undertaking by you</li>
                                    <li>You are representing that you or the mobile number submitted by you is not registered with the Do Not Disturb / National Customer Preference Register and/or you have already changed your registration suitably.
                                    </li>
                                    <li>Further and in any event, you do hereby also unconditionally agree and undertake that this invitation and solicitation shall supersede any preferences set by you with or registration done with the Do Not Disturb ("DND
                                        Register")/ National Customer Preference Register ("NCPR").</li>
                                </ol>

                            </li>
                            <li><b>Content Policy:</b>
                                <ol type="a">
                                    <li>Content you submit, you hereby unconditionally and irrevocably grant to LB the license to use, distribute, reproduce, modify, adapt, publicly perform and publicly display such Content on the Site and to Shaadi Centre
                                        members from time to time</li>
                                    <li>you (and not LB) are solely responsible for all Content that you upload, post, email, transmit or otherwise make available via the Service. LB does not control the Content posted via the Service and, as such, does not
                                        guarantee the accuracy, integrity or quality of such Content.</li>
                                    <li>LB reserves the right to verify the authenticity of Content posted on the Site. In exercising this right, LB may ask you to provide any documentary or other form of evidence supporting the Content you post on the Site.
                                        If you fail to produce such evidence, LB may, in its sole discretion, terminate your Membership without a refund.</li>
                                    <li>The following is an indicative list of the kind of Content that is illegal or prohibited on the Site. LB will investigate and take appropriate legal action in its sole discretion against anyone who violates this Agreement,
                                        including without limitation, removing the offending communication / Content from the Service and terminating the Membership of such violators without a refund.</li>
                                    <li>Illegal and prohibitive Content includes Content which: </li>
                                </ol>
                                <ol type="i">
                                    <li>may create a risk of harm, loss, physical or mental injury, emotional distress, death, disability, disfigurement, or physical or mental illness to you, to any other person, or to any animal.</li>
                                    <li>may create a risk of any other loss or damage to any person or property</li>
                                    <li>seeks to harm or exploit children by exposing them to inappropriate content, asking for personally identifiable details or otherwise</li>
                                    <li> may constitute or contribute to a crime or tort</li>
                                    <li>contains any information or content that is illegal </li>
                                    <li>contains any information or content that you do not have a right to make available under any law or under contractual or fiduciary relationships</li>
                                    <li>involves the transmission of "junk mail", "chain letters," or unsolicited mass mailing or "spamming"</li>
                                    <li>contains restricted or password only access pages, or hidden pages or images </li>
                                    <li>displays pornographic or sexually explicit material of any kind</li>
                                    <li>engages in commercial activities and/or sales without our prior written consent such as contests, sweepstakes, barter, advertising, and pyramid schemes.
                                    </li>
                                </ol>

                            </li>
                            <li><b>Refund Policy:</b>
                                <ol type="a">
                                    <li>In the event you terminate your membership, if you have used paid service e.g. contact credits, you will not be entitled to a refund of any unutilized subscription fees, if any, paid by you.</li>
                                    <li>In the event you terminate your membership, and if you are paid customer, but haven’t used paid service, refund amount will be calculated by deducting all eligible charges.
                                    </li>
                                    <li>If LB terminates your membership for breach of terms of this Agreement, you will not be entitled to any refund.</li>
                                    <li> LB deserves the right of refund.</li>
                                </ol>
                            </li>
                            <li><b>Misc: (Code of conduct)</b> Mobile number verification is mandatory to contact other members. Profiles who have not verified their mobile numbers will not be part of LB sites any more. LB reserves the right to provide free
                                membership feature to its members.
                            </li>
                            <li><b>Copyright:</b> All contents included on this site, such as text, graphics, logos, button icons, images, audio clips, digital downloads, data compilations, and software, is the property of LB or its content suppliers and
                                protected by Indian and international copyright laws. The compilation of all contents on this site is the exclusive property of LB and protected by Indian and international copyright laws. All software used on this site
                                is the property of LB or its software suppliers and protected by Indian and international copyright laws.</li>
                            <li><b>Indemnity:</b> You agree to indemnify and hold LB, its subsidiaries, affiliates, officers, agents, and other partners and employees, fully indemnified and harmless from any loss, liability, claim, or demand, including reasonable
                                attorney's fees, made by any third party due to or arising out of your use of the Service in violation of this Agreement and/or arising from a breach of these Terms of Use and/or any breach of your representations and warranties
                                set forth above and/or any fraudulent act on your part.</li>
                            <li><b>Links:</b> LB has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by LB of the site. Use
                                of any such linked web site is at the user's own risk. </li>
                            <li><b>Revisions and Errata:</b> The materials appearing on LB's web site could include technical, typographical, or photographic errors. LB does not warrant that any of the materials on its web site are accurate, complete, or
                                current. LB may make changes to the materials contained on its web site at any time without notice. LB does not, however, make any commitment to update the materials. </li>
                            <li><b>Disclaimer:</b> The materials on LB's web site are provided "as is". LB makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or
                                conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, LB does not warrant or make any representations concerning the accuracy,
                                likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.</li>
                            <li><b>Applicable law:</b> The membership is deemed to have been entered into at Pune, India and the laws of India will govern the membership and any violation of the terms and conditions provided herein. Disputes arising out of
                                or in any way affecting the membership including interpretation of any of the terms are subject to Courts of appropriate jurisdiction in Pune. You hereby explicitly agree for Pune courts jurisdiction for any disputes that
                                may arise.

                                <br>Please contact us with any questions regarding this service agreement.
                            </li>
                        </ol>
                    </div>

                </div>
            </div>
        </main>

    </div>
    <md-toolbar class="chrome-gap-correction">
        <div ng-include src="'partials/footer.html'"></div>
    </md-toolbar>

        <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- Angular Material requires Angular.js Libraries -->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.3/ui-bootstrap-tpls.js"></script>

        <script src="bower_components/scrollreveal/dist/scrollreveal.min.js"></script>
        <script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
        <script src="bower_components/ng-parallax/angular-parallax.min.js"></script>
        <script src="bower_components/countUp.js/dist/countUp.min.js"></script>
        <script src="bower_components/countUp.js/dist/angular-countUp.min.js"></script>
        <script src="bower_components/angular-notification-icons/dist/angular-notification-icons.min.js"></script>

        <!-- Angular Material Library -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.js"></script>
        <script src="js/scrollRevealAnimations.js"></script>
        <script src="js/app.js"></script>

</body>

</html>
<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at //material.angularjs.org/license.
-->
