<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
    <!--<head>-->
        <!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
        <!--<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" >-->
            <!--<title>Lagnachi Bolni</title>-->
            <!--<script src='https://www.google.com/recaptcha/api.js'></script>-->


    <!--</head>-->

    <!--<body>-->

        <!--<div class="contentWrapper admin-list">-->
          <!--<div>-->
        <!--<ul>-->
          <!--<li><a href="#home">Login</a></li>-->
          <!--<li><a href="#news">Arthik Labh</a></li>-->
        <!--</ul>-->

      <!--</div>-->

            <!--<div class="form_bg register-pg"> &lt;!&ndash; form bg starts&ndash;&gt;-->


                <!--<div class="rightCol result-pg">-->
                    <!--<h1 class="">लग्नासाठी आपल्या परिचितांची नावे नोंदवा,</h1>-->
                    <!--<h2>सोबतच चांगला आर्थिक लाभही कमवा!</h2>-->
                <!--</div>-->

                <!--<p> मग आजच LagnachiBolni.comचे पार्टनर व्हा! </p>-->

                <!--<p> सध्या ही नोंदणी करण्यासाठी कोणतेही शुल्क आकारण्यात येत नाही. आपली-->

                    <!--नोंदणी केल्यावर तुम्हाला प्रमोशनसाठी खास लिंक म्हणजे ‘URL’ मिळेल. त्या-->

                    <!--लिंकद्वारे आपले परिचित लग्नाचीबोलणीचे सभासद होऊ शकतात. आपल्या सभासदाने केलेल्या <a href="partner_earnings.php">आर्थिक व्यवहारातील काही भाग</a> तुमच्या अकाऊंटमध्ये जमा केला जाईल. </p>-->

                <!--<p> आहे ना सोपं? आत्ताच आपलं अकाऊंट उघडा. अधिक माहितीसाठी संपर्क करा. +91-7722090227 </p>-->




                <!--<div class="heading">-->
                    <!--<h1 class="page-title">Join Now For Free</h1>-->
                <!--</div>-->
                <!--<div class="form_content">-->


                    <!--<form name="homeForm" class="homeForm" >-->

                        <!--<div class="control-group clearfix">-->
                            <!--<label class="control-label">Mobile No</label>-->
                            <!--<div class="controls pull-left">-->
                                <!--<input name="mobileNumber" type="text"-->
                                       <!--class="txtfield" id="mobileNumber"-->
                                       <!--ng-model="vm.credentials.mobileNumber"-->
                                       <!--ng-maxlength="10"-->
                                       <!--required/>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="control-group clearfix">-->
                            <!--<label class="control-label">Name</label>-->
                            <!--<div class="controls pull-left">-->
                                <!--<input name="name" type="text"-->
                                       <!--class="txtfield" id="name"-->
                                       <!--ng-model="vm.credentials.name"-->
                                       <!--ng-maxlength="30"-->
                                       <!--required/>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="g-recaptcha" data-sitekey="6LfsvRwTAAAAAPPui0or-goqWuePrtFUDhKvi9Vd"></div>-->

                        <!--<div class="form-action"><input type="submit" name="submit" id ="submit" class="btn_green_big" value = "Register" role="button" ></div>-->
                    <!--</form>-->

                <!--</div>-->

            <!--</div>-->

        <!--</div>-->

        <!--&lt;!&ndash;<?php include($serverPath . "/includes/bottom.php"); ?>&ndash;&gt;-->

    <!--</body>-->
<!--</html>-->





<main>

<div class="container-fluid">
    <div class="refer-friend-wrapper">
        <div>
            <h1 translate>लग्नासाठी आपल्या परिचितांची नावे नोंदवा,</h1>
            <h1 translate>सोबतच चांगला आर्थिक लाभही कमवा!</h1>
            <hr/>
            <p translate>मग आजच LagnachiBolni.comचे पार्टनर व्हा!</p>
              <p>सध्या ही नोंदणी करण्यासाठी कोणतेही शुल्क आकारण्यात येत नाही. आपली
              नोंदणी केल्यावर तुम्हाला प्रमोशनसाठी खास लिंक म्हणजे ‘URL’ मिळेल. त्या िंकद्वारे आपले परिचित लग्नाचीबोलणीचे सभासद होऊ शकतात. आपल्या सभासदाने केलेल्या<a
                    href="#" translate>आर्थिक व्यवहारातील काही भाग</a> तुमच्या अकाऊंटमध्ये जमा केला जाईल.</p>
            <p>आहे ना सोपं? आत्ताच आपलं अकाऊंट उघडा. अधिक माहितीसाठी संपर्क करा. +91-7722090227 </p>
            <h1>Join Now For Free</h1>
            <hr/>
        </div>
        <!--<form name="referForm" class="refer-form" novalidate-->
              <!--ng-if="!vm.hideReferForm">-->
        <form name="referForm" class="refer-form" novalidate
              >
            <div>
                <!--<div class="select" ng-if="!vm.hideFields">-->
                <div class="select">
                  <!--<md-input-container class="md-block">-->
                                    <!--<label translate>Your Name</label>-->
                                    <!--<input type="text"-->
                                           <!--ng-model="vm.user.firstname"-->
                                           <!--class="form-input" name="firstname" pattern="^[a-zA-z]+$" onfocus="this.defaultValue =this.value" onblur="this.value != this.defaultValue ? angular.element(this).scope().changeContent1(this.name,this.value) : null">-->
                                           <!--<div ng-messages="FormPersonal.firstname.$error" role="alert">-->
                                            <!--<div ng-message="pattern" class="my-message" translate>-->
                                              <!--Firstname should contain only characters.-->
                                            <!--</div>-->
                                            <!--</div>-->
                  <!--</md-input-container>-->


                    <md-input-container ng-model="name"
                                        class="ng-pristine ng-untouched ng-valid ng-empty"
                                        aria-invalid="false">
                        <label translate>Your Name</label>
                        <input type="text" ng-model="vm.referFriend.name"
                               class="md-input" required name="username"
                               minlength=2 pattern="^[a-zA-z]+$"/>

                        <div ng-messages="referForm.username.$error"
                             role="alert"
                                >
                            <div ng-message="required"
                                 class="my-message" translate>Please provide a name.
                            </div>
                            <div ng-message="minlength"
                                 class="my-message" translate>Ensure user name must have at least 2 characters.
                            </div>
                            <div ng-message="pattern"
                                 class="my-message" translate>Your Name should contain only characters.
                            </div>

                        </div>

                        <div class="md-errors-spacer"></div>
                    </md-input-container>
                </div>
                <!--<div class="select" ng-if="!vm.hideFields">-->
                  <div class="select">
                    <md-input-container class="md-block" flex-gt-sm>
                        <input type="tel"
                               name="phone" data-phone
                               ng-model="vm.referFriend.mobile_number"
                               minlength = "8"
                               class="form-control"
                               placeholder="{{'Mobile Number' | translate}}"
                               ng-click="vm.initPhone()"
                               required/>

                        <div ng-messages="referForm.phone.$error"
                             role="alert">
                            <div ng-message="required minlength"
                                 class="my-message" translate>Please provide a correct phone number.
                            </div>
                        </div>
                    </md-input-container>
                </div>

              <div id="recaptchaField" class="g-recaptcha lb-captcha"
                   data-sitekey="6LfsvRwTAAAAAPPui0or-goqWuePrtFUDhKvi9Vd"></div>
                <!--<div class="select">-->
                    <!--&lt;!&ndash; <md-input-container ng-model="name" class="ng-pristine ng-untouched ng-valid ng-empty" aria-invalid="false">-->
                      <!--<label for="input_8">Friend's Mobile Numbers</label>-->
                      <!--<textarea ng-model="user.biography" md-maxlength="150" rows="3" md-select-on-focus></textarea>-->
                      <!--<div class="md-errors-spacer"></div>-->
                    <!--</md-input-container> &ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="panel panel-default">&ndash;&gt;-->
                    <!--<div class="panel-heading" align="center">-->
                    <!--<span translate>Refer</span>-->
                    <!--<span class="panel-buttons"><i class="icon-plus-circle"-->
                                                   <!--ng-click="!(referForm.pname.$error.required && referForm.phone.$error.required)?vm.addReference():vm.showerror()"></i></span>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<div class="panel-body">&ndash;&gt;-->
                    <!--<div ng-repeat="reference in vm.referFriend.references" class="reference-list">-->
                        <!--<div class="row no-margin">-->
                            <!--<div class="col-xs-2 visible-xs-block">-->
                              <!--<span class="panel-buttons"><i-->
                                <!--class="icon-minus-circle"-->
                                <!--ng-click="vm.deleteReference()"></i></span>-->
                            <!--</div>-->
                            <!--<div class=" col-sm-5 col-xs-10">-->

                                <!--<md-input-container class="md-block">-->
                                    <!--<label translate>Name</label>-->
                                    <!--<input type="text" name="pname"-->
                                           <!--ng-model="reference.reference_name"-->
                                           <!--class="form-control"-->
                                           <!--required/>-->

                                    <!--<div ng-messages="referForm.pname.$error"-->
                                         <!--role="alert" multiple>-->
                                        <!--<div ng-message="required minlength"-->
                                             <!--class="my-message" translate>Please provide a name.-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</md-input-container>-->
                            <!--</div>-->
                            <!--<div class="col-xs-2 visible-xs-block"></div>-->
                            <!--<div class=" col-sm-5 col-xs-10">-->
                              <!--<md-input-container class="md-block" flex-gt-sm>-->
                                  <!--<input type="tel"-->
                                         <!--name="phone" data-phone-->
                                         <!--ng-model="reference.reference_mobile"-->
                                         <!--minlength = "8"-->
                                         <!--class="form-control"-->
                                         <!--placeholder="{{'Mobile Number' | translate}}"-->
                                         <!--ng-click="vm.initPhone()"-->
                                         <!--required/>-->

                                  <!--<div ng-messages="referForm.phone.$error"-->
                                       <!--role="alert">-->
                                      <!--<div ng-message="required minlength"-->
                                           <!--class="my-message" translate>Please provide a correct phone number.-->
                                      <!--</div>-->
                                  <!--</div>-->
                              <!--</md-input-container>-->
                            <!--</div>-->
                            <!--<div class="col-sm-2 hidden-xs">-->
                                        <!--<span class="panel-buttons"><i-->
                                                <!--class="icon-minus-circle"-->
                                                <!--ng-click="vm.deleteReference()"></i></span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div ng-if="vm.emptyListFlag &&  vm.referFriend.references.length <= 0"-->
                         <!--style="color :red ">-->
                        <!--<p translate>List cant be empty!!! </p>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</div>-->
                <!--</div>-->

                <div class="text-center delete-account">
                    <input type="submit" value="Register" id="sendMSG"
                           class="btn btn-primary center-block"
                           ng-click="vm.sendReferFriendRequest(referForm)">
                    <br/>
                    <img src="images/floral.png">
                </div>
            </div>
        </form>
        <!-- code for ng repeat of references -->
        <!--<div align="right">-->
            <!--<button class="btn btn-primary" align="center"-->
                    <!--ng-if="vm.hideReferForm" ng-click="vm.showForm()" translate>Add more references-->
            <!--</button>-->
        <!--</div>-->
        <!--<div class="form-horizontal" ng-show="!vm.hideForm">-->
            <!--<div class="row">-->
                <!--<div class="col-sm-4"></div>-->
                <!--<div class="col-sm-4" translate><b>Reference Name</b></div>-->
                <!--<div class="col-sm-4" translate><b>Reference Mobile</b></div>-->
            <!--</div>-->
            <!--<hr>-->
            <!--<div class="row"-->
                 <!--ng-if="vm.refResponseObject.already_referred.length>0">-->
                <!--<div class="col-sm-4" translate><b>Already Referred</b></div>-->
                <!--<div class="col-sm-8">-->
                    <!--<div ng-repeat="refered in vm.refResponseObject.already_referred">-->
                        <!--<div class="col-sm-6">{{refered.reference_name}}</div>-->
                        <!--<div class="col-sm-6">{{refered.reference_mobile}}</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-12">-->
                    <!--<hr>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row"-->
                 <!--ng-if="vm.refResponseObject.already_registered.length>0">-->
                <!--<div class="col-sm-4" translate><b>Already Registered</b></div>-->
                <!--<div class="col-sm-8">-->
                    <!--<div ng-repeat="registered in vm.refResponseObject.already_registered">-->
                        <!--<div class="col-sm-6">{{registered.reference_name}}-->
                        <!--</div>-->
                        <!--<div class="col-sm-6">{{registered.reference_mobile}}-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-12">-->
                    <!--<hr>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row" ng-if="vm.refResponseObject.notified.length>0">-->
                <!--<div class="col-sm-4" translate><b>Notified</b></div>-->
                <!--<div class="col-sm-8">-->
                    <!--<div ng-repeat="notified in vm.refResponseObject.notified">-->
                        <!--<div class="col-sm-6">{{notified.reference_name}}</div>-->
                        <!--<div class="col-sm-6">{{notified.reference_mobile}}-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-12">-->
                    <!--<hr>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row"-->
                 <!--ng-if="vm.refResponseObject.failed_to_notify.length>0">-->
                <!--<div class="col-sm-4" translate><b >Notified</b></div>-->
                <!--<div class="col-sm-8">-->
                    <!--<div ng-repeat="failed in vm.refResponseObject.failed_to_notify">-->
                        <!--<div class="col-sm-6">{{failed.reference_name}}</div>-->
                        <!--<div class="col-sm-6">{{failed.reference_mobile}}</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-12">-->
                    <!--<hr>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--end of code for ng-repeat references -->
    </div>
</div>
</main>

    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
          async defer>
    </script>
       <script type="text/javascript">
        document.getElementById("sendMSG").disabled = true;
        var onloadCallback = function() {
            grecaptcha.render('recaptchaField', {
                'sitekey' : '6LeH0BEUAAAAAC2-w59FczQ4CfxgqgqOJZ7hEqJL',
                'callback' : verifyCallback
            });
        };
        var verifyCallback = function(response) {
            if(response !=null){
               document.getElementById("sendMSG").disabled = false;
            }else{
                document.getElementById("sendMSG").disabled = true;
            }
        };
      </script>

