<div id="wrapper" style="top:0px; ">
  <div class="container-fluid terms-container" ng-click="closeLeftMenuMobile()">
    <div>
      <div class="row terms-header-row">
        <div class="col-sm-12">
          <div class="terms-header">
            <h1>FAQ</h1>
          </div>
        </div>
      </div>

      <div class="row faq-content">

        <ol type="1">
          <li>
            <p class="faq-question" translate>
              How to register?
            </p>
            <div class="faq-answer-wrapper" ng-click="faqCollapse.question1 = !faqCollapse.question1"
                 ng-class="{'showContent' : faqCollapse.question1}">
              <div class="faq-answer" translate>
                Visit register page or Home page. Enter your details, complete your registration to start using LagnachiBolni. Only registered and logged in people can see or search other profile. Mobile confirmation is mandatory.
              </div>


            </div>
            <p class="faq-read-more" ng-click="faqCollapse.question1 = !faqCollapse.question1"
               ng-hide="faqCollapse.question1">Read More ...</p>
          </li>

          <li>
            <p class="faq-question" translate>
              What is mobile confirmation?
            </p>
            <div class="faq-answer-wrapper" ng-click="faqCollapse.question2 = !faqCollapse.question2"
                 ng-class="{'showContent' : faqCollapse.question2}">
              <div class="faq-answer" translate>
                Once registered you will receive password for your account via SMS on your mobile. To confirm your mobile you will just have to login using that password. we don't show your profile to others if you don't confirm your mobile.
              </div>
            </div>
            <p class="faq-read-more" ng-click="faqCollapse.question2 = !faqCollapse.question2"
               ng-hide="faqCollapse.question2">Read More ...</p>
          </li>

          <li>
            <p class="faq-question" translate>
              Can I use the same Email ID for multiple Registrations?
            </p>
            <div class="faq-answer-wrapper" ng-click="faqCollapse.question3 = !faqCollapse.question3"
                 ng-class="{'showContent' : faqCollapse.question3}">
              <div class="faq-answer" translate>
                You can’t use same Email address as a username for multiple registration. But you can provide same email address in Email address field for multiple accounts.
              </div>
            </div>
            <p class="faq-read-more" ng-click="faqCollapse.question3 = !faqCollapse.question3"
               ng-hide="faqCollapse.question3">Read More ...</p>
          </li>

          <li>
            <p class="faq-question" translate>
              I forgot my lb Matrimony ID/Username / Password. What should i do?

            </p>
            <div class="faq-answer-wrapper" ng-click="faqCollapse.question4 = !faqCollapse.question4"
                 ng-class="{'showContent' : faqCollapse.question4}">
              <div class="faq-answer" translate>
                You can find links to get username and password on Login page. Click on Forgot Password and provide your Username to receive password on your registered mobile. To receive username click on Forgot username and provide your mobile number. We will send you the username on your registered mobile number.
              </div>
            </div>
            <p class="faq-read-more" ng-click="faqCollapse.question4 = !faqCollapse.question4"
               ng-hide="faqCollapse.question4">Read More ...</p>
          </li>

          <li>
            <p class="faq-question" translate>
              How to login after registration is completed?

            </p>
            <div class="faq-answer-wrapper" ng-click="faqCollapse.question5 = !faqCollapse.question5"
                 ng-class="{'showContent' : faqCollapse.question5}">
              <div class="faq-answer" translate>
                After registration, we send you the password on your registered mobile number. You can use username you entered at the time of registration and the password to login to lagnachibilni. You can also use your registered mobile number as username and the password you received to login.
              </div>
            </div>
            <p class="faq-read-more" ng-click="faqCollapse.question5 = !faqCollapse.question5"
               ng-hide="faqCollapse.question5">Read More ...</p>
          </li>
          <li>
            <p class="faq-question" translate>
              I'm registering for my sister/brother and me. Can we both register with the same Mobile number?
            </p>
            <div class="faq-answer-wrapper" ng-click="faqCollapse.question4 = !faqCollapse.question4"
                 ng-class="{'showContent' : faqCollapse.question4}">
              <div class="faq-answer" translate>
                Yes you can use same mobile number for both the registrations. We will suggest to use different mobile numbers for each registration, because we send notification on registered mobile number. IF you user same number for multiple account, will receive notifications for both accounts on same mobile.
              </div>
            </div>
            <p class="faq-read-more" ng-click="faqCollapse.question4 = !faqCollapse.question4"
               ng-hide="faqCollapse.question4">Read More ...</p>
          </li>
          <li>
            <p class="faq-question" translate>
              Registration is free or paid? What are registration charges?
            </p>
            <div class="faq-answer-wrapper" ng-click="faqCollapse.question4 = !faqCollapse.question4"
                 ng-class="{'showContent' : faqCollapse.question4}">
              <div class="faq-answer" translate>
                Registration is free. After Registration you can login and search profiles matching for you. You can check the details of the profile, but we don’t show contact details of other profiles. To get the contact details we offer different packages. Please check payment page to select the suitable packages for you.
              </div>
            </div>
            <p class="faq-read-more" ng-click="faqCollapse.question4 = !faqCollapse.question4"
               ng-hide="faqCollapse.question4">Read More ...</p>
          </li>
          <li>
            <p class="faq-question" translate>
              How to get Contact details?
            </p>
            <div class="faq-answer-wrapper" ng-click="faqCollapse.question4 = !faqCollapse.question4"
                 ng-class="{'showContent' : faqCollapse.question4}">
              <div class="faq-answer" translate>
                If you find matching profiles on lagnachibolni, you can get their contact details by purchasing contact credits. Please check payment page to select the suitable plan for you.
              </div>
            </div>
            <p class="faq-read-more" ng-click="faqCollapse.question4 = !faqCollapse.question4"
               ng-hide="faqCollapse.question4">Read More ...</p>
          </li>
          <li>
            <p class="faq-question" translate>
              What is contact credits?
            </p>
            <div class="faq-answer-wrapper" ng-click="faqCollapse.question4 = !faqCollapse.question4"
                 ng-class="{'showContent' : faqCollapse.question4}">
              <div class="faq-answer" translate>
                To get the contact details of the other profiles you need contact credits. If you have purchased contact credits you will be able to see contact details of any profile. It will consume 1 contact credit to see the contact details of 1 profile. For example if you purchase 10 contact credits, then you will be able to see contact details of any 10 profiles.
              </div>
            </div>
            <p class="faq-read-more" ng-click="faqCollapse.question4 = !faqCollapse.question4"
               ng-hide="faqCollapse.question4">Read More ...</p>
          </li>
          <li>
            <p class="faq-question" translate>
              How do I make online payment?
            </p>
            <div class="faq-answer-wrapper" ng-click="faqCollapse.question4 = !faqCollapse.question4"
                 ng-class="{'showContent' : faqCollapse.question4}">
              <div class="faq-answer" translate>
                Visit payment page, choose suitable plan for you. Click on Buy Now button. It will redirect you to payment gateway. There are multiple options to make the payment online using credit cards, debit cards, net banking, wallets and many more. Login is mandatory to make online payment.
              </div>
            </div>
            <p class="faq-read-more" ng-click="faqCollapse.question4 = !faqCollapse.question4"
               ng-hide="faqCollapse.question4">Read More ...</p>
          </li>
          <li>
            <p class="faq-question" translate>
              How do I make payment through Cheque/DD?

            </p>
            <div class="faq-answer-wrapper" ng-click="faqCollapse.question4 = !faqCollapse.question4"
                 ng-class="{'showContent' : faqCollapse.question4}">
              <div class="faq-answer" translate>
                You can send the cheque/DD to lagnachiBolni office address, provided in the contact us page. Please mention your registered mobile number with the cheque/DD.
              </div>
            </div>
            <p class="faq-read-more" ng-click="faqCollapse.question4 = !faqCollapse.question4"
               ng-hide="faqCollapse.question4">Read More ...</p>
          </li>
          <li>
            <p class="faq-question" translate>
              How long will it take to get contact credits in my account if I have made the payment by Cheque/DD?
            </p>
            <div class="faq-answer-wrapper" ng-click="faqCollapse.question4 = !faqCollapse.question4"
                 ng-class="{'showContent' : faqCollapse.question4}">
              <div class="faq-answer" translate>
                Once we receive and process the cheque/DD we will provide you the contact credit. After we receive money in our account we will give you contact credits in 2 working days.

              </div>
            </div>
            <p class="faq-read-more" ng-click="faqCollapse.question4 = !faqCollapse.question4"
               ng-hide="faqCollapse.question4">Read More ...</p>
          </li>
          <li>
            <p class="faq-question" translate>
              How long can I use contact credits? Is there any expiry date?

            </p>
            <div class="faq-answer-wrapper" ng-click="faqCollapse.question4 = !faqCollapse.question4"
                 ng-class="{'showContent' : faqCollapse.question4}">
              <div class="faq-answer" translate>
                There is no time limit to use contact credits. You can use it till you consume it.
              </div>
            </div>
            <p class="faq-read-more" ng-click="faqCollapse.question4 = !faqCollapse.question4"
               ng-hide="faqCollapse.question4">Read More ...</p>
          </li>
          <li>
            <p class="faq-question" translate>
              How to modify my profile contents?
            </p>
            <div class="faq-answer-wrapper" ng-click="faqCollapse.question4 = !faqCollapse.question4"
                 ng-class="{'showContent' : faqCollapse.question4}">
              <div class="faq-answer" translate>
                Visit “My Profile” page where you can change almost all information related to your profile. It saves the information automatically once you change it.
              </div>
            </div>
            <p class="faq-read-more" ng-click="faqCollapse.question4 = !faqCollapse.question4"
               ng-hide="faqCollapse.question4">Read More ...</p>
          </li>
          <li>
            <p class="faq-question" translate>
              How do I delete my profile?

            </p>
            <div class="faq-answer-wrapper" ng-click="faqCollapse.question4 = !faqCollapse.question4"
                 ng-class="{'showContent' : faqCollapse.question4}">
              <div class="faq-answer" translate>
                Go to Account Setting page. Select Delete Account tab. Please provide a genuine reason to delete the account and click delete account button.
              </div>
            </div>
            <p class="faq-read-more" ng-click="faqCollapse.question4 = !faqCollapse.question4"
               ng-hide="faqCollapse.question4">Read More ...</p>
          </li>
          <li>
            <p class="faq-question" translate>
              Is it possible to reactivate the deleted profile?
            </p>
            <div class="faq-answer-wrapper" ng-click="faqCollapse.question4 = !faqCollapse.question4"
                 ng-class="{'showContent' : faqCollapse.question4}">
              <div class="faq-answer" translate>
                Yes, it is possible, to do so please call us on 7218701870 / 7722090227. You can also send a request from “Contact Us” page.
              </div>
            </div>
            <p class="faq-read-more" ng-click="faqCollapse.question4 = !faqCollapse.question4"
               ng-hide="faqCollapse.question4">Read More ...</p>
          </li>
          <li>
            <p class="faq-question" translate>
              How to change a photo in my profile?

            </p>
            <div class="faq-answer-wrapper" ng-click="faqCollapse.question4 = !faqCollapse.question4"
                 ng-class="{'showContent' : faqCollapse.question4}">
              <div class="faq-answer" translate>
                Visit “My Profile” page where you can find link edit photo below your photo. It will redirect you to update photo page. Upload your photo there.
              </div>
            </div>
            <p class="faq-read-more" ng-click="faqCollapse.question4 = !faqCollapse.question4"
               ng-hide="faqCollapse.question4">Read More ...</p>
          </li>
          <li>
            <p class="faq-question" translate>
              What is Request Photo? Or What if any profile does not have photo, How to request it?
            </p>
            <div class="faq-answer-wrapper" ng-click="faqCollapse.question4 = !faqCollapse.question4"
                 ng-class="{'showContent' : faqCollapse.question4}">
              <div class="faq-answer" translate>
                When you visit any profile, if the person has not uploaded any image, a link to “Request Photo” will be displayed below the photo section. By clicking that link you will be able to request the photo.
              </div>
            </div>
            <p class="faq-read-more" ng-click="faqCollapse.question4 = !faqCollapse.question4"
               ng-hide="faqCollapse.question4">Read More ...</p>
          </li>
          <li>
            <p class="faq-question" translate>
              What is advanced search?

            </p>
            <div class="faq-answer-wrapper" ng-click="faqCollapse.question4 = !faqCollapse.question4"
                 ng-class="{'showContent' : faqCollapse.question4}">
              <div class="faq-answer" translate>
                Using advance search you will be able to search suitable profiles for you.
              </div>
            </div>
            <p class="faq-read-more" ng-click="faqCollapse.question4 = !faqCollapse.question4"
               ng-hide="faqCollapse.question4">Read More ...</p>
          </li>
          <li>
            <p class="faq-question" translate>
              What is saved search?

            </p>
            <div class="faq-answer-wrapper" ng-click="faqCollapse.question4 = !faqCollapse.question4"
                 ng-class="{'showContent' : faqCollapse.question4}">
              <div class="faq-answer" translate>
                In advance search you set the values for some parameters and search for matches. Every time you visit advance search page it show all fields blank. It is very boarding to select those values every time. Instead of selecting those every time you can save the search you want to do frequently. Select the values you want and click “Save Search” button.
              </div>
            </div>
            <p class="faq-read-more" ng-click="faqCollapse.question4 = !faqCollapse.question4"
               ng-hide="faqCollapse.question4">Read More ...</p>
          </li>
          <li>
            <p class="faq-question" translate>
              How do I view a particular profile? How can I search profile by Profile ID?
            </p>
            <div class="faq-answer-wrapper" ng-click="faqCollapse.question4 = !faqCollapse.question4"
                 ng-class="{'showContent' : faqCollapse.question4}">
              <div class="faq-answer" translate>
                If you know the LB id of a profile, you can search the profile by searching it by LB id. If you don’t have its ID then search it using advanced search.
              </div>
            </div>
            <p class="faq-read-more" ng-click="faqCollapse.question4 = !faqCollapse.question4"
               ng-hide="faqCollapse.question4">Read More ...</p>
          </li>
          <li>
            <p class="faq-question" translate>
              What is Refer friends?

            </p>
            <div class="faq-answer-wrapper" ng-click="faqCollapse.question4 = !faqCollapse.question4"
                 ng-class="{'showContent' : faqCollapse.question4}">
              <div class="faq-answer" translate>
                If you think lagnachibolni is useful for your friend and relatives, you can refer it to them. To do so, visit “Refer friend” page. Provide their mobile numbers and their names, we will send SMS to them on your behalf. If they get registered and make payment, we will give you 20% out of it as a referral bonus. You can use this referral bonus for your payments or claim it as cash. We will transfer it to your account.
              </div>
            </div>
            <p class="faq-read-more" ng-click="faqCollapse.question4 = !faqCollapse.question4"
               ng-hide="faqCollapse.question4">Read More ...</p>
          </li>
          <li>
            <p class="faq-question" translate>
              What is Send Interest?

            </p>
            <div class="faq-answer-wrapper" ng-click="faqCollapse.question4 = !faqCollapse.question4"
                 ng-class="{'showContent' : faqCollapse.question4}">
              <div class="faq-answer" translate>
                If you like any profile, you can send interest to him/her. If that person can accept or reject your request. If it is accepted then you will be able to see their contact details. Note: Sometime if people don’t feel your profile is suitable for them then they don’t answer the request.

              </div>
            </div>
            <p class="faq-read-more" ng-click="faqCollapse.question4 = !faqCollapse.question4"
               ng-hide="faqCollapse.question4">Read More ...</p>
          </li>
          <li>
            <p class="faq-question" translate>
              How to change your mobile number?
            </p>
            <div class="faq-answer-wrapper" ng-click="faqCollapse.question4 = !faqCollapse.question4"
                 ng-class="{'showContent' : faqCollapse.question4}">
              <div class="faq-answer" translate>
                You can change it from My Profile page. But when you change the number it will send you a OTP PIN to verify your number. After verifying mobile it will update it.
              </div>
            </div>
            <p class="faq-read-more" ng-click="faqCollapse.question4 = !faqCollapse.question4"
               ng-hide="faqCollapse.question4">Read More ...</p>
          </li>
          <!--<li>-->
          <!--<p class="faq-question">-->
          <!--How long can I use contact credits? Is there any expiry date?-->

          <!--</p>-->
          <!--<div class="faq-answer-wrapper" ng-click="faqCollapse.question4 = !faqCollapse.question4"-->
          <!--ng-class="{'showContent' : faqCollapse.question4}">-->
          <!--<div class="faq-answer">-->
          <!--There is no time limit to use contact credits. You can use it till you consume it.-->
          <!--</div>-->
          <!--</div>-->
          <!--<p class="faq-read-more" ng-click="faqCollapse.question4 = !faqCollapse.question4"-->
          <!--ng-hide="faqCollapse.question4">Read More ...</p>-->
          <!--</li>-->
          <!--<li>-->
          <!--<p class="faq-question">-->
          <!--How long can I use contact credits? Is there any expiry date?-->

          <!--</p>-->
          <!--<div class="faq-answer-wrapper" ng-click="faqCollapse.question4 = !faqCollapse.question4"-->
          <!--ng-class="{'showContent' : faqCollapse.question4}">-->
          <!--<div class="faq-answer">-->
          <!--There is no time limit to use contact credits. You can use it till you consume it.-->
          <!--</div>-->
          <!--</div>-->
          <!--<p class="faq-read-more" ng-click="faqCollapse.question4 = !faqCollapse.question4"-->
          <!--ng-hide="faqCollapse.question4">Read More ...</p>-->
          <!--</li>-->
          <!--<li>-->
          <!--<p class="faq-question">-->
          <!--How long can I use contact credits? Is there any expiry date?-->

          <!--</p>-->
          <!--<div class="faq-answer-wrapper" ng-click="faqCollapse.question4 = !faqCollapse.question4"-->
          <!--ng-class="{'showContent' : faqCollapse.question4}">-->
          <!--<div class="faq-answer">-->
          <!--There is no time limit to use contact credits. You can use it till you consume it.-->
          <!--</div>-->
          <!--</div>-->
          <!--<p class="faq-read-more" ng-click="faqCollapse.question4 = !faqCollapse.question4"-->
          <!--ng-hide="faqCollapse.question4">Read More ...</p>-->
          <!--</li>-->
        </ol>
      </div>

    </div>
  </div>
</div>
