<div class="container-fluid" ng-click="closeLeftMenuMobile()"
     style="padding-bottom: 65px;" ng-show="!vm.logoutWindowFlag">
  <!--ng-show="!vm.logoutWindowFlag"-->
  <div class="text-center forgot-username fadein fadeout">
    <form name="form2" novalidate>

      <h1 translate style="margin-right:0;">Thanks for confirming your email address.</h1>
      <hr>
      <div class="forgot-username-content">
        <h5 translate> As complementary we have gifted you 5 show interests, please avail then.</h5>

        <!--<p translate>Help Us grow and it will help you back. Like and share us on facebook. </p>-->

        <!--<div class="fb-like" data-href="http://www.lagnachibolni.com/" data-width="150" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>-->
        <br>
        <br>

        <!--<md-button type="button" class="md-raised md-warn"-->
        <!--ng-click="vm.loginWindow()" >{{'Login' | translate}}-->
        <!--</md-button>-->
      </div>
      <div class="text-center">
        <br/>
        <img src="./images/floral.png">
      </div>
    </form>
  </div>
</div>
